@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;


    // Si esta Presente Error
    &.error {
        background-color: v.$rojo;
    }
    // Si esta Presente Exito
    &.exito {
        background-color: v.$verde;
    }

}